*{
    box-sizing: border-box;/* css3 property*/
    zoom:1;
    /* background-color:black; */
}
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav bar css */
.main-nav ul{
    display: flex;/* CSS3 property*/
    flex-wrap:wrap;
    gap:30px;
    /* Reset UL default style*/
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.main-nav a{
    text-decoration: none;
    color:white;
}
.main-nav a:hover{
    text-decoration: underline;
    color:#2272FF;
}
.site-logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color:#2272FF;
} 
.header{
    background-color:#111;
    padding:20px;
}

.row{
    max-width: 1200px;
    margin: 0 auto;
}
/* .row of .header*/ 
.header .row{
    display:flex;
    flex-wrap: wrap;/*move item to new line, if space is not sufficient for the item*/
    justify-content: space-between;/* horizontal align*/
    align-items:center;/*vertical align*/
}
img{
    max-width: 100%;/*always*/
}
.billboard{
    margin: 0;
     /* position: relative; */
     color:white;
     
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-style: oblique;
}
.billboard img{
    width: 100%;
    height:500px;
    object-fit: cover;/* CSS3 property*/
}
/*css for contact form*/
form{
    max-width:300px;
    margin:0 auto;
    padding: 15px;
}
input,textarea{
    width:100%;
    padding:3px 10x;
    border:2px solid#fff;
    /* color:#fff; */
    color:#9b9b9b;
}
.field-group{
    margin-bottom: 10px;
}
.field-group .show{
    color:#fff;
}
button{
    background-color:#2272FF;
    cursor: pointer;
    border-radius:6px;
    border: 0;
    padding :10px 30px;
    color:#fff;
}
.error{
    display: block;
    color:red;
    font-style:italic;
    font-size:13px;
}  
#main .page-title{
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-style: oblique;
    
}                     
.blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    /* gap: 10px; */
}
.blog-box{
    width:350px; 
    /*width:auto; then the box align vertically */
    margin: 10px;
    border-radius: 10px; 
    display: flex;
    flex-wrap: wrap; /* allows items to wrap to next line if not enough space */
    /* overflow: hidden;  */
}

.blog-img{
    width:100%;
    height:auto;
    border-radius: 10px;
}
.blog-img img{
    width:100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.blog-text{
    width:500px;
    padding: 30px;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.blog-text .blog-title{
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    font-style:oblique;
    color:whitesmoke;
    
}
.blog-text .blog-title:hover{
    color:#00FFFF;
}
.blog-text p{
    color:#9b9b9b;
    margin:20px 0px;
    overflow:hidden;
    font-style: oblique;
}





/*css blog-detail page*/
#title .topic{
    text-align:justify;
    font-size:23px;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
}
.blog-detail-container{
    width: 90%;
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 50px auto;
    margin-left:10px;
   

}
.blog-img{  
    flex:1;
    width:500px;
    margin: 0px 25px;
}
.content{
    flex:1;
    width:500px;
    margin: auto;
}
img{
    width:100%;
    height:80%;
    border-radius: 10px;
}
.content .description{
    font-size:19px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
    color:white;
}
.content .description:hover{
    cursor:pointer;
    color:#00FFFF
}


/*CSS for gallery page*/
.gallery-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;  
}
.gallery-container-box{
    width:270px; 
    margin: 5px;
    border-radius: 10px;  
}
.gallery-img{
    width:100%;
    height:auto;
    border-radius: 10px;
}
.gallery-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor:pointer;
}
.gallery-img img:hover{
    box-shadow:5px 10px 8px  #c4c4c4;
}

/*CSS for about page*/
.about-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    margin-left:10px;
}
.about-img{
    flex:1;
    width:500px;
    margin: 0px 25px;
  
}
.about-text{
    flex:1;
    width:500px;
    margin: auto;
}
.about-text p{
    font-size:19px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
    color:white;
}

/*CSS for footer*/
/* .footer{
    margin-bottom:0;
    color:white;
    font-size:14px;
    text-align: center;
    font-weight: 300px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
} */
 /*CSS for footer2*/

.footer {
    width: 100%;
    background-color: #111;  /* Slightly lighter black for contrast */
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    border-top-left-radius: 80px; /* Slightly smaller radius */
    border-top-right-radius: 80px; /* Add symmetry */
}

/* Container inside footer */
.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Add gap for spacing */
}
/*
 .footer {
    /*width: 100%;
    /* background-color: black; 
    background-color:#111 ;
    color: white;
    padding: 40px 0 20px;
    /* padding: 60px 80px; 
    text-align: center;
    margin-bottom:0;
    /* background: #0b1c2d; 

    width:100%;
    /*bottom:0;*/
    /*position:relative;
    background-color:black;
    color:white;
    padding:30px 0;
    text-align: center;
    font-size:14px;
    border-top-left-radius:125px;
    
}


.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-left-radius:125px;
    /* background: none; 
    
}*/

.footer-container1 {
    width: 30%;
    padding: 10px;
    /* text-align: justify; */
     text-align: left; /* Better readability than justify */
    min-width: 250px; /* Prevent shrinking too small */
    /* background: none;  */
}

.footer-container1 ul li {
    list-style: none;
    margin-bottom: 10px;
    /* background: none; */
} 

.footer-container1 ul li a {
    text-decoration: none;
    color: white;
    /* background: none;  */
}

hr {
    width: 90%;
    margin: 20px auto;
    /* background: none;  */
}
